<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
		integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<title>Login</title>
</head>

<body>
	<h2>Signup</h2>

	<form id="signup_form">
		<label for="name">Name</label>
		<input type="text" name="name" required>
		<label for="email">E-mail</label>
		<input type="text" name="email" required>
		<label for="password">Password</label>
		<input type="password" name="password" required>
		<label for="cpassword">Confirm Password</label>
		<input type="password" name="cpassword" required>

		<button type="submit" id="signup_button">Sign Up</button>
	</form>

	<script src="/js/index.js"></script>
</body>

</html>